body {
    background-size: 100%;
    background-repeat: no-repeat;
}
.pageWrap {
    padding-top: 15%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom:3%;
    /* min-height: 95vh; */
}
.secondaryPageWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.card {
    margin: 2%;
    width: 30%;
    /* height: 25vh; */
    border-radius: .25em;
}
.homeCard {
    width: 40%;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardInnerDiv {
    border: 1px solid #E0AC9D;
    border-radius: .25em;
    padding: 2%;
    text-align: center;
    height: 100%;
    width: 80%;
}
.cardInnerDiv ul {
    list-style: none;
    align-items: left;
    text-align: left;
}
.cardInnerDiv ul li {
    padding-bottom: 5px;
    padding-top: 5px;
}
.marketPlaceCard {
    width: 85%;
}
.uploadPlusSign:hover {
    cursor: pointer;
}
.storeImgPlaceholder {
    max-width:50%;
}
input[type=radio]{
    display: none;
}
.star {
    cursor: pointer;
}
.ratingComponent {
    padding: 2.5%;
}
#marketplaceTable {
    width: 100%;
}
#marketplaceTable td {
    padding: 5px;
}