body {
    background-size: 100%;
    background-repeat: no-repeat;
}
.pageWrap {
    padding-top: 15%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom:3%;
    /* min-height: 95vh; */
}
.secondaryPageWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.card {
    margin: 2%;
    width: 30%;
    /* height: 25vh; */
    border-radius: .25em;
}
.homeCard {
    width: 40%;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardInnerDiv {
    border: 1px solid #E0AC9D;
    border-radius: .25em;
    padding: 2%;
    text-align: center;
    height: 100%;
    width: 80%;
}
.uploadPlusSign:hover {
    cursor: pointer;
}